@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090B;
   --brand-gray: #71717A;
   --border-gray: #E4E4E7;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.custom-scrollbar {
  /* Firefox */
  scrollbar-width: thin;            /* "thin" or "none" */
scrollbar-color: black transparent;
}

/* Chrome / Edge / Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;     /* vertical scrollbar width */
  height: 2px;    /* horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white; /* track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;  /* thumb color */
  border-radius: 9999px;
}

/* Remove arrows/buttons completely */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none !important;
}


/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

